[project]
[access "refs/*"]
  read = group rdo-infra/puppet-dlrn-core
  owner = group rdo-infra/puppet-dlrn-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdo-infra/puppet-dlrn-core
    label-Code-Review = -2..+2 group rdo-infra/puppet-dlrn-ptl
    label-Verified = -2..+2 group rdo-infra/puppet-dlrn-ptl
    label-Workflow = -1..+1 group rdo-infra/puppet-dlrn-core
    label-Workflow = -1..+1 group rdo-infra/puppet-dlrn-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group rdo-infra/puppet-dlrn-ptl
    read = group Registered Users
    read = group rdo-infra/puppet-dlrn-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdo-infra/puppet-dlrn-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
[project]
        description = No description provided
